# Dependencies
node_modules/
.pnp/
.pnp.js
.lovable/
.idx/
.vite/
.gemini/
dist/
build/
.next/
out/

# Testing
/coverage

# Production
/build
/dist
/.next/
/out/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
*.pem
